@import "../../../styles/typography.scss";

.checkbox {
  @include typo-body();

  display: flex;
}

.checkbox__inner {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}

.checkbox__input {
  width: var(--spacing-6);
  height: var(--spacing-6);
  border: 1px solid var(--color-brand-green-light);
  border-radius: 0px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  accent-color: var(--color-scale-red);

  &:focus {
    border-color: var(--color-brand-green-light);;
  }
}

.checkbox__error {
  color: var(--color-error);
}
