swiper-slide {
  align-self: flex-end;
}

.swiper__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6);
  margin: var(--spacing-6) 0;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);
  color: var(--color-brand-red);
}

.swiper-button-disabled {
  color: var(--color-tabs-inactive);
}