@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.select {
  position: relative;
  width: 100%
}

.select__label {
  @include typo-copyright();

  position: absolute;
  z-index: 1;
  top: var(--spacing-1);
  left: var(--spacing-3);
}

.base-Select-root.base-Select-root {
  @include typo-body();

  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-5) var(--spacing-3) var(--spacing-2);
  width: 100%;
  text-align: left;
  background-color: var(--color-brand-green-light);
  border-bottom: 2px solid transparent;

  & svg {
    transition: transform 0.2s ease;
  }

  &.base--expanded svg {
    transform: rotate(180deg);
  }
}

.base-Popup-root.base-Popup-root {
  width: 100%;
  padding: var(--spacing-3);
  background-color: var(--color-brand-green-light);
  z-index: 3;
  box-shadow:
    0px 12px 17px 0px rgba(0, 0, 0, 0.14);
}

.base-Select-listbox.base-Select-listbox {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.base-Option-root.base-Option-root {
  @include typo-body();

  cursor: pointer;
  transition: color 0.2s ease-out;

  &:focus,
  &:hover,
  &:active {
    color: var(--color-links);
  }

}