$base-spacing: 4px;
$spacing-0-75: $base-spacing * 0.75; // 4px
$spacing-1: $base-spacing; // 4px
$spacing-1-5: $base-spacing * 1.5; // 4px
$spacing-2: $base-spacing * 2; // 8px
$spacing-3: $base-spacing * 3; // 12px
$spacing-4: $base-spacing * 4; // 16px
$spacing-5: $base-spacing * 5; // 20px
$spacing-6: $base-spacing * 6; // 24px
$spacing-8: $base-spacing * 8; // 32px
$spacing-9: $base-spacing * 9; // 36px
$spacing-10: $base-spacing * 10; // 40px
$spacing-11: $base-spacing * 11; // 44px
$spacing-12: $base-spacing * 12; // 48px
$spacing-13: $base-spacing * 13; // 52px
$spacing-14: $base-spacing * 14; // 56px
$spacing-16: $base-spacing * 16; // 64px
$spacing-17: $base-spacing * 17; // 68px
$spacing-20: $base-spacing * 20; // 80px
$spacing-24: $base-spacing * 24; // 96px
$spacing-26: $base-spacing * 26; // 104px
$spacing-31: $base-spacing * 31; // 124px
$spacing-36: $base-spacing * 36; // 144px

$max-width: 1536px;

:root {
  --spacing-0-75: #{$spacing-0-75};
  --spacing-1: #{$spacing-1};
  --spacing-1-5: #{$spacing-1-5};
  --spacing-2: #{$spacing-2};
  --spacing-3: #{$spacing-3};
  --spacing-4: #{$spacing-4};
  --spacing-5: #{$spacing-5};
  --spacing-6: #{$spacing-6};
  --spacing-8: #{$spacing-8};
  --spacing-9: #{$spacing-9};
  --spacing-10: #{$spacing-10};
  --spacing-11: #{$spacing-11};
  --spacing-12: #{$spacing-12};
  --spacing-13: #{$spacing-13};
  --spacing-14: #{$spacing-14};
  --spacing-16: #{$spacing-16};
  --spacing-17: #{$spacing-17};
  --spacing-20: #{$spacing-20};
  --spacing-24: #{$spacing-24};
  --spacing-26: #{$spacing-26};
  --spacing-31: #{$spacing-31};
  --spacing-36: #{$spacing-36};
  --max-width: #{$max-width};
}