@import "../../styles/breakpoints.scss";
@import "../../styles/typography.scss";

.co2-emissions__title {
  @include typo-headline-2();

  margin-bottom: var(--spacing-2);

  @include tablet-up {
    margin-bottom: var(--spacing-4);
  }
}

.co2-emissions__lead,
.co2-emissions__lead a {
  @include typo-lead();
}

.co2-emissions__lead {
  margin-bottom: var(--spacing-12);
}

.property-facts__title {
  @include typo-headline-3();

  margin-bottom: var(--spacing-6);
}

.property-facts__lead {
  margin-bottom: var(--spacing-6);
}

.property-facts__wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-8);

  @include tablet-up {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}