@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  @include tablet-up {
    gap: var(--spacing-4);
  }

  a {
    display: inline-flex;
  }
}

.section__title {
  @include typo-headline-2();
}

.section__description {
  @include typo-lead();
}