@import "../../../styles/breakpoints.scss";

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 25, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 25, 0, 0);
  }
}

.point {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: var(--color-brand-red);
  opacity: 0.8;
  border-radius: 50%;
  animation: pulse-animation 1s infinite;

  &:hover {
    animation: pulse-animation 1s infinite;
  }

  @include tablet-up {
    width: 50px;
    height: 50px;
  }

  &.point--blurred {
    opacity: 0.5;
    animation: none;

    &:hover {
      animation: pulse-animation 1s infinite;
    }
  }

  &.point--roof {
    top: 15%;
    right: 36%;

    @media (430px < width < 834px) {
      top: 19%;
    }

    @include tablet-up {
      top: 14%;
      right: 34%;
    }

    @include desktop-up {
      top: 18%;
      right: 37%;
    }
  }

  &.point--facade {
    top: 47%;
    right: 22%;

    @media (430px < width < 834px) {
      right: 24%;
    }

    @include tablet-up {
      right: 20%;
    }

    @include desktop-up {
      right: 24%;
    }
  }

  &.point--windows {
    top: 45%;
    right: 43%;

    @media (430px < width < 834px) {
      right: 46%;
    }

    @include tablet-up {
      right: 42%;
    }

    @include desktop-up {
      right: 45%;
    }
  }

  &.point--basement {
    top: 62%;
    right: 56%;

    @media (430px < width < 834px) {
      top: 65%;
    }

    @include tablet-up {
      top: 60%;
    }
    @include desktop-up {
      top: 64%;
    }
  }
}
