@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.heating-tiles {
  width: 100%;
}

.heating-tiles__header {
  margin-bottom: var(--spacing-6);
}

.heating-tiles__title {
  @include typo-headline-3();

  margin-bottom: var(--spacing-4);
}

.heating-tiles__lead {
  @include typo-lead();
  max-width: calc((8 / 12) * var(--max-width));
}

.heating-tiles__content {
  display: grid;
  align-items: end;
  gap: var(--spacing-8);

  @include tablet-up {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1250px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}