@import "../../../../styles/breakpoints.scss";
@import "../../../../styles/typography.scss";

.full-width {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  padding: var(--spacing-10) var(--spacing-5) var(--spacing-20);

  @include tablet-up {
    gap: var(--spacing-20);
    max-width: calc((10 / 12) * var(--max-width));
    padding: var(--spacing-24) var(--spacing-20);
    margin: auto;
  }
}

.full-width.full-width--no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}