@import "../../../../styles/breakpoints.scss";
@import "../../../../styles/typography.scss";

.full-width {
  padding: var(--spacing-10) var(--spacing-6);
  background-color: var(--color-brand-green-light);

  @include tablet-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-20);
  }
}

.full-width__inner {
  @include tablet-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-31);
    max-width: var(--max-width);

  }
}