@import "../../../styles/breakpoints.scss";

.house {
  position: relative;
  width: 100%;
  height: 55%;
  max-width: 650px;

  @include tablet-up {
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}