@import "../../../../styles/breakpoints.scss";

.two-cols {
  display: flex;
  justify-content: center;
  width: 100%;
}

.two-cols__content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-20);
  padding: var(--spacing-10) var(--spacing-5) var(--spacing-20);

  @include tablet-up {
    gap: var(--spacing-26);
    width: calc((10 / 12) * 100%);
    padding: var(--spacing-24) var(--spacing-20);
  }
}

.two-cols__left,
.two-cols__right {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  width: 100%;

  @include tablet-up {
    gap: var(--spacing-20);
    width: calc(50% - var(--spacing-13));
  }
}

.two-cols__left {
  @include tablet-up {
    position: sticky;
    align-self: flex-start; // important for sticky behavior
    top: var(--spacing-24);
  }
}