@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.input {
  position: relative;
}

.input__label {
  @include typo-copyright();

  position: absolute;
  z-index: 1;
  top: var(--spacing-1);
  left: var(--spacing-3);
}

.input__input {
  @include typo-body();

  position: relative;
  padding: var(--spacing-5) var(--spacing-3) var(--spacing-2);
  background-color: var(--color-brand-green-light);
  border: 0;
  width: 100%;
  height: 100%;

  &::placeholder {
    color: var(--color-text-primary);
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--color-text-primary);
    padding-bottom: 2px;
    transition: all 0.04s ease;
  }
}

.input__error {
  color: var(--color-signal-red);
  @include typo-copyright();
}

.input--error {
  .input__label {
    color: var(--color-signal-red);
  }
}