@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.input {
  position: relative;
}

.input__label {
  @include typo-copyright();

  position: absolute;
  z-index: 1;
  top: var(--spacing-1);
  left: var(--spacing-3);
}

.input__input {
  @include typo-body();

  position: relative;
  padding: var(--spacing-5) var(--spacing-3) var(--spacing-2);
  background-color: var(--color-brand-green-light);
  border: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
  outline: none;

  &::placeholder {
    color: var(--color-text-primary);
    opacity: 0.5;
  }

  &:focus {
    border-bottom: 2px solid var(--color-text-primary);
    transition: all 0.04s ease;
  }
}

.input__error {
  @include typo-copyright();
  color: var(--color-signal-red);
}

.input--error {
  .input__label {
    color: var(--color-signal-red);
  }
}