@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.detail-view__table {
    width: 100%;
    border-collapse: collapse;
}

.detail-view__table-row {
    border-bottom: 1px solid var(--color-border);
}

.detail-view__table-row-head {
    @include typo-headline-5();

    text-align: left;
}

.detail-view__table-row-data {
    @include typo-body();
}

.detail-view__table-row-head,
.detail-view__table-row-data {
    padding: var(--spacing-2);
}