@import "../../../styles/breakpoints.scss";

.property-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;

  @include tablet-up {
    height: 100%;
    aspect-ratio: unset;
  }
}

.property-image__img {
  object-fit: cover;
}