@import "../../../../styles/breakpoints.scss";

.tab-list {
  display: flex;
  gap: var(--spacing-0-75);
  overflow-x: scroll;

  @include tablet-up {
    gap: var(--spacing-1-5);
    overflow-x: hidden;
  }

  &.tab-list--in-overlay {
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    z-index: 1;
  }
}