@import "../../../styles/breakpoints.scss";
@import "../../../styles/typography.scss";

.co2-emissions__title {
  @include typo-headline-2();

  margin-bottom: var(--spacing-2);

  @include tablet-up {
    margin-bottom: var(--spacing-4);
  }
}

.co2-emissions__lead,
.co2-emissions__lead a {
  @include typo-lead();
}

.co2-emissions__lead {
  margin-bottom: var(--spacing-6);
}

.co2-emissions-result__description {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-3) var(--spacing-6);
  background-color: var(--color-brand-green-light);
  margin-top: var(--spacing-6);

  @include tablet-up {
    margin-top: var(--spacing-4);
  }
}

.co2-emissions-result__description-icon {
  flex: 1 0 auto;
}