@import "../../../styles/typography.scss";

.savings-potential-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-4);
  padding: var(--spacing-6);
  background-color: var(--color-brand-green-light);
}

.savings-potential-tile__title {
  @include typo-headline-4();

  margin-bottom: var(--spacing-8);
}

.savings-potential-tile__description {
  @include typo-body-small();

  margin-bottom: var(--spacing-5);
}

.savings-potential-tile__list-item {
  @include typo-body();
}

.savings-potential-tile__list-item-title {
  @include typo-headline-5();

  color: var(--color-brand-green-dark);
}

.savings-potential-tile__button {
  width: max-content;
}